<!doctype html>
<html lang="en" xmlns:th="http:/www.thymleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Smart Contact Manager</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
	integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<nav class="fixed-top navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid  title">
			<a th:href="@{/smartContactManager/user/index}" class="navbar-brand"
				href="#">Smart Contact Manager</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto text-uppercase">

					<li class="nav-item name"><a
						th:href="@{/smartContactManager/about}" class="nav-link active"
						href="#">About</a></li>

					<li class="nav-item"><a
						th:href="@{/smartContactManager/signup}" class="nav-link active"
						href="#">SignUp</a>
					<li class="nav-item"><a th:href="@{/logout}"
						class="nav-link active" href="#">LogOut</a></li>

					<li class="nav-item"><a class="nav-link active"><span>Welcome
								: </span><span th:text="${user.name}"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="sidebar">

		<a href="#" class="item" th:href="@{/smartContactManager/user/index}"><i
			class="fa-solid fa-house-user"></i> HOME</a> <a href="#"
			th:href="@{/smartContactManager/user/show-contacts/0}" class="item"><i
			class="fa-solid fa-address-book"></i> CONTACTS</a> <a href="#"
			th:href="@{/smartContactManager/user/add-contact}" class="item">
			<i class="fa-sharp fa-solid fa-address-card"></i> ADD CONTACT
		</a> <a th:href="@{/smartContactManager/user/profile}" href="#"
			class="item"><i class="fa-solid fa-user-tie"></i> PROFILE</a> <a
			href="#" th:href="@{/logout}" class="item"><i
			class="fa-solid fa-toggle-on"></i> LOGOUT</a>

	</div>

	<div th:replace="${content}"></div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		function deleteContact(id){
			swal({
				  title: "Are you sure?",
				  text: "Once deleted, you will not be able to recover this contact!",
				  icon: "warning",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				    	window.location="smartContactManager/user/delete/"+id;
				  } else {
				    swal("Contact not deleted");
				  }
				});
		}
	
	</script>
	<script th:src="@{/js/script.js}"></script>

</body>
</html>