body{
	background: #e2e2e2;
}
.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.7)),url(../img/HomePicture.png);
	color:white;
}
.signupbanner{
	width:100%;
	height:99vh;
	background:linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.8)),url(../img/signupcontactmanager.png);
	color:white;
	background-size: cover;
}

.loginbanner{
	width:100%;
	height:99vh;
	background:linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.8)),url(../img/pic.jpg);
	color:white;
	background-size: cover;
}
.title{
	background-color: green;
}
.my-card{
	padding:25px;
	color: green;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 500px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 40px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 5px;
  margin-left: 219px;
}
.feild{
	margin-top:15px;
}
.name{
	margin-left: 1200px;
}
.sidebar{
	width: 18%;
	height:100%;
	position: fixed;
	background-color:green;
	
	
}
.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	color:black;
	margin-top:40px;
	padding:15px;
}
.sidebar a:hover{
	background:white;
}

.sidebar.divider{
	height: .5px;
	width: 100%;
	background: #e3e3e3;
	margin-top: 10px; 
}

@media only screen and (max-width: 600px){
	
}

.userpage{
	background:linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.8)),url(../img/user.jpg);
}
.userdata{
	margin-top: 47px;
}

.content{
	margin-left: 20%;
	
}
.sidebar .crossBtn{
	position:absolute;
	top:0px;
	right:35px;
	font-size:36px;
	cursor:pointer;	
	size: 55px;

}
.user_input{
	margin-right:35px;
	margin-top:35px;
	margin-left: 350px;
}
.feild{
	margin-bottom: 20px;
}
/* Search CSS*/
.search-container{
	position: relative;
}
.search-result{
	position:absolute;
	background: white;
	width:100%;
	padding:10px;
	border: 1px solid-grey;
	display: none;
}

